.bg{
    width: 100%;
    height: 100vh;
    background-image: url(../image/car-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    position: relative;
    overflow: hidden;
    
}
.car{
    width: 350px;
    position: absolute;
    bottom: 50px;
    right: -400px;
    animation-name: carAnimation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    z-index: 3;
}
.car:nth-child(2){
    animation-delay: 3s;
}
.car:nth-child(3){
    animation-delay: 4s;
}
@keyframes carAnimation{
    0%{
        left: -400px;
    }
    100%{
        left: 100%;
    }
}
.toy{
    width: 350px;
    position: absolute;
    bottom: 100px;
    right: -400px;
    animation-name: Animation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    transform: rotateY(-180deg);
}
.toy:nth-child(5){
    animation-delay: 4s;
}
.toy:nth-child(6){
    animation-delay: 4s;
}
@keyframes Animation{
    0%{
        right: -400px;
    }
    100%{
        right: 100%;
    }
}
.rain{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    top: -100%;
    animation-name: rainAnimation;
    animation-timing-function: linear;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
.rain:nth-child(2){
    animation-delay: 1.5s;
}
@keyframes rainAnimation{
    0%{
        top: -100%;
    }
    100%{
        top: 100%;
    }
}
h1{
    
    color: blueviolet;
    margin-left: 600px;
    margin-top: -100px;
    font-size: 70px;
    position: absolute;
    animation-name: textAnimation;
    animation-duration: 5s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    text-shadow:  4px 5px 3px #333;
    transition: 5s;
}
@keyframes textAnimation{
    0%{
        top: -100px;
    }
    25%{
        top: 300px;

    }
    50%{
        transform: rotateY(360deg);
    } 
    75%{
        transform: rotateY(360deg);
    } 
    100%{
        transform: rotateY(90deg)
    }       
}
